<h1><%= "#{@year}年#{@month}月  出勤簿" %></h1>

<div class="table">
  <table border="1">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出社時間</th>
        <th>退社時間</th>
        <th>勤務時間</th>
      </tr>
    </thead>
    <tbody>
      <%(Date.parse("#{@start_date}")..Date.parse("#{@end_date}")).each do |date| %>
        <tr>
            <td><%="#{date.month}月#{date.day}日"%></td>
            <td><%= %w[日 月 火 水 木 金 土][date.wday] %></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    <%end%>
    </tbody>
</table>
</div>
