h1, .edit{
  text-align: left;
  text-align: center;
}
.header-sub, .time-count{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.new-main{
  font-size: 50px;
  text-align: center;
  position: relative;
}
.time{
  font-weight: bold;
}
.circle-attend {
  display: inline-block;
  text-align: center;/*左右中央*/
  width: 300px;
  height: 300px;
  line-height: 200px;
  border-radius: 50%;
  background: skyblue;
  font-size: 100px;
}
.circle-attend a, .circle-leave a, .main-menu a{
  text-decoration: none;
  color: cadetblue;
}
.circle-leave {
  display: inline-block;
  text-align: center;/*左右中央*/
  width: 300px;
  height: 300px;
  line-height: 200px;
  border-radius: 50%;
  background: orange;
  font-size: 100px;
  text-decoration: none;
}
.main-menu{
  border: 1px solid lightgray;
}
table{
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
}
.main-table{
  width: 80vw;
}
.header-table{
  width: 30%;
}
.main-table th{
  background-color: #fff5e5;
}
.header-table th{
  background-color: khaki;
}
.now-request{
  color: white;
  background-color: red;
  text-decoration: none;
}
 /* スマホ表示時 */
 @media (max-width: 599px) {
  .time{
    font-weight: bold;
  }
  .circle-attend {
    text-align: center;/*左右中央*/
    width: 80%;
    height: 80%;
    line-height: 50%;
    border-radius: 50%;
    background: skyblue;
    font-size: 50px;
  }
  .circle-attend a, .circle-leave a, .main-menu a{
    text-decoration: none;
    color: cadetblue;
  }
  .circle-leave {
    text-align: center;/*左右中央*/
    width: 80%;
    height: 80%;
    line-height: 50%;
    border-radius: 50%;
    background: orange;
    font-size: 50px;
    text-decoration: none;
  }
  .main-menu{
    border: 1px solid lightgray;
  }
}