<h1>新規ユーザー登録</h1>
<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>Create Account</h2>
      <h5>新規アカウントの作成</h5>
    </div>
    <div>
      <a href=''></a>
    </div>
  </div>
</div>
